/*===== FONT =====*/
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;
/*===== FONT SIZE =====*/
$small-font-size: 0.75rem;
$normal-font-size: 0.938rem;
$h1-font-size: 4.35rem;
$h2-font-size: 4.75rem;
/*===== COLOR =====*/
$inner-color: #768aff;
$outer-color: #0f228a;
$text-color: #ccc;
$container-color: #fff;
