@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

/* ===== VARS =====*/
@import "vars";
/* ===== BASE ===== */
@import "base";

/*===== CSS =====*/
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $bg-color;

  /*== HEADER ==*/
  @import "header";

  /*== CONTENT ==*/
  @import "content";

  /*== THUMB ==*/
  @import "thumb";

  /*== SOCIAL ICONS ==*/
  @import "sci";

  /*== CIRCLE ==*/
  @import "circle";
}

/*===== MEDIA QUERY =====*/
@import "media";
